<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>Sinch Reference Application wants to use your camera to be able to make a video call.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sinch Reference Application wants to use your microphone to be able to capture your voice in a call.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>audio</string>
	</array>
</dict>
</plist>
